body{
	font-family: Helvetica;
	background-image: url("../images/economybg.jpg");
	background-size: cover;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: white;
}
h1,h2{
	padding: 20px;
	background-color: #069eea;
	max-width: 600px;
	color: white;
	border: 7px solid white;
	border-radius: 15px;
}
img{
	padding: 20px;
	background-color: #069eea;
	border: 5px solid;
	border-radius: 15px;
}
video{
	padding: 20px;
	background-color: skyblue;
	border: 5px solid white;
	border-radius: 20px;
}
hr{
	padding: 2px;
	background-color: white;
	border: 3px solid white;
}
p{
	padding: 20px;
	background-color: #069eea;
	font-size: 18px;
	border: 5px solid black;
	border-radius: 20px;
}
.box{
	padding: 25px;
	background-color: skyblue;
	border: 5px solid black;
	border-radius: 15px;
	margin: 20px auto;
	text-align: center;
}